@import 'theme/colors.scss';
@import 'theme/breakpoints.scss';

.signInWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .signIn {
        min-width: 450px;
        width: 45%;
        
        @media (max-width: $sm) {
            min-width: 300px;
            
        }
    }
}