@import 'theme/colors.scss';
@import 'theme/breakpoints.scss';

.formWrapper {
    .form {
        .link {
            margin: 10px 0px 10px;
            display: flex;
            justify-content: end;

            span {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .actions {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    }
}