@import 'theme/colors.scss';
@import 'theme/breakpoints.scss';

.addTaskWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .addTask {
        form {
            display: flex;
            align-items: center;
            column-gap: 10px;

            @media (max-width: $sm) {
                flex-direction: column;
            }
        }
    }
}