@import 'theme/colors.scss';
@import 'theme/breakpoints.scss';

.listTasksWrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 100px;

    .listTasks {
        min-width: 600px;
        width: 40%;
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        @media (max-width: $md) {
            min-width: 350px;
        }
    }
}