@import 'theme/colors.scss';
@import 'theme/breakpoints.scss';

.buttonWraper {
    .primary {
        background-color: $color-primary;
        color: $color-white;

        &:hover {
            background-color: $color-primary-500;
        }
    }

    .secondary {
        background-color: $color-secondary;
        color: $color-white;

        &:hover {
            background-color: $color-secondary-500;
        }
    }

    .button {
        padding: 10px 30px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
    }
}